<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/main.css" />
  </head>
  <body>
    <%- include('nav.html') %>
    <h1>수정하기</h1>

    <form action="/edit?_method=PUT" method="post">
      <ul>
        <li>
          <input type="text" name="id" value="<%= post._id %>" hidden />
          <p>
            <label
              >제목: <input type="text" name="title" value="<%= post.제목 %>"
            /></label>
          </p>
          <p>
            <label
              >날짜: <input type="date" name="date" value="<%= post.날짜 %>"
            /></label>
          </p>
          <input type="submit" value="수정" />
        </li>
      </ul>
    </form>
  </body>
</html>
